body {
    background:linear-gradient(to right bottom, white,#fc7c34 );
    background-attachment: fixed; }

    button {
        background-color: #fc7c34;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 14px;
        padding: 10px 25px;
      }